


    <!-- wrapper -->
    <div id="wrapper">

      <!-- 
        AVAILABLE HEADER CLASSES

        Default nav height: 96px
        .header-md    = 70px nav height
        .header-sm    = 60px nav height

        .noborder     = remove bottom border (only with transparent use)
        .transparent  = transparent header
        .translucent  = translucent header
        .sticky     = sticky header
        .static     = static header
        .dark     = dark header
        .bottom     = header on bottom
        
        shadow-before-1 = shadow 1 header top
        shadow-after-1  = shadow 1 header bottom
        shadow-before-2 = shadow 2 header top
        shadow-after-2  = shadow 2 header bottom
        shadow-before-3 = shadow 3 header top
        shadow-after-3  = shadow 3 header bottom

        .clearfix   = required for mobile menu, do not remove!

        Example Usage:  class="clearfix sticky header-sm transparent noborder"
      -->
      <div id="header" class="transparent clearfix header-md noshadow noborder">

        <!-- TOP NAV -->

        <!-- /Top Nav -->

      </div>



      <!-- SLIDER -->
      <section id="slider" class="height-800" style="background-image:url('../images/sunset.jpg')">
        <div class="overlay dark-3"><!-- dark overlay [0 to 9 opacity] --></div>

        <div class="display-table">
          <div class="display-table-cell vertical-align-middle">
            <div class="container">

              <div class="slider-featured-text text-center">
                <h1 class="text-white wow fadeInUp" data-wow-delay="0.4s">
                  Welcome to Yoga Loca(tor)
                </h1>
                <br>  
                <h2 class="weight-300 text-white wow fadeInUp" data-wow-delay="0.8s">Search for your next yoga class, near you!</h2>
                <form class="navbar-form navbar-center" role="search">
                  <div class="form-group">
                    <input action="/yoga_classes" name="search" id="search" method="get" class="form-control input-lg" type="text" placeholder="Enter an address, zip, city, or landmark!"
                    <div class="input-group-btn">
                      <button type="submit" class="btn btn-default input-lg noborder-left">
                        <i class="fa fa-search fa-lg nopadding"></i>
                      </button>
                  </div>
                </form>

              </div>
        
            </div>
          </div>
        </div>

      </section>
      <!-- /SLIDER -->



    </div>
    <!-- /wrapper -->
